/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  main {
    background: #1e2d3b;
    height: 120vh;
    padding: 40px 0;
  }
  
  .container {
    width: 70%;
    margin: 0 auto;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #2e3a46;
    padding: 10px;
  }
  
  .logo {
    width: 50px;
  }
  
  select {
  height: 30px;
  width: 100px;
  }
  
  .albums {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 30px;
  }
  
  .album-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 6);
    background-color: #2e3a46;
    padding: 15px;
    text-align: center;
  }
  
  img {
    max-width: 100%;
  }
  
  .title {
    color: white;
    text-transform: uppercase;
    margin: 20px 0;
  }
  
  .year, .author {
    color: #808080;
    font-size: 17px;
  }